VFI/__pycache__/
VFI/checkpoint/
VFI/data/
VFI/output/
VFI/output_raw/
VFI/output_softsplat/
VFI/tensorboard/
VFI/core

UPR-Net/.vscode/
UPR-Net/checkpoints/

Event_camera/data/
Event_camera/RAM_Net/__pycache__/
Event_camera/RAM_Net/.vscode/
Event_camera/RAM_Net/checkpoint/
Event_camera/RAM_Net/output/
Event_camera/RAM_Net/raw/
Event_camera/RAM_Net/core
